body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  margin: 0;
  box-sizing: content-box;
}
.main-page {
  display: grid;
  height: 100vh;
  width: 100vw;
  grid-template-rows: auto;
  grid-template-columns: auto auto;
}
.sidebar-holder {
  height: 100%;
  width: 15vw;
  background-color: aquamarine;
  padding: 10px;
}
.sidebar {
  grid-column: 1;
  margin: auto;
  width: 100%;
  height: 80%;
  border-radius: 10px;
  background-color: lightblue;
}
.canvas-holder {
  grid-column: 2;
  background-color: aquamarine;
  width: 85vw;
  padding: 10px;
  height: 100%;
}
.canvas {
  background-color: lightblue;
  border-radius: 10px;
  width: 100%;
  height: 80%;
}
.note-holder {
  background-color: lightcoral;
  z-index: 50;
  border: 2px solid black;
}
.resize-button {
  background-color: blue;
  width: 10px;
  height: 10px;
  position: absolute;
  bottom: 0;
  right: 0;
}
.delete-button {
  background-color: red;
  width: 10px;
  height: 10px;
  position: absolute;
  top: 0;
  right: 0;
}
.note-title {
  background-color: transparent;
  width: 10px;
  border: 1px solid black;
}
.note-title:focus {
  border: none;
  background-color: blanchedalmond;
  border-radius: 0;
  margin-left: 1px;
}
.note-content {
  background-color: transparent;
  margin-top: 2px;
}
